.App {
  background-color: #123456;
  min-height: 100vh;
  min-width: 100vw;
}
.board {
  height: 60vh;
  width: 60vh;
  display: grid;
  /*chess board*/
  max-width: 600px;
  margin: 0 auto;

  max-height: 600px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 2px;
  background-color: #123456;
}

.square {
  border: 1px solid #fff;
  border-radius: 5px;
}
.black {
  background-color: #d18b47;
}
.white {
  background-color: #ffce9e;
}
.knight {
  background-image: url("https://i.imgur.com/Yyznd4v.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.moon-knight {
  background-image: url("https://i.imgur.com/2rXSFCl.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
